services/n8n/workflow-templates/customer-support-automation.json
{
  "name": "Customer Support Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "customer-inquiry",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Customer Inquiry Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "customer-inquiry-webhook"
    },
    {
      "parameters": {
        "url": "http://ai-agents:8003/api/v1/agents/from-template",
        "authentication": "none",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "template_name",
              "value": "customer_service"
            },
            {
              "name": "agent_name",
              "value": "Support Agent {{ $json.customer_id }}"
            },
            {
              "name": "user_id",
              "value": "n8n-system"
            }
          ]
        },
        "options": {}
      },
      "id": "create-support-agent",
      "name": "Create Support Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://ai-agents:8003/api/v1/agents/{{ $json.agent_id }}/execute",
        "authentication": "none",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "task",
              "value": "Customer inquiry: {{ $('Customer Inquiry Webhook').item.json.message }}. Customer ID: {{ $('Customer Inquiry Webhook').item.json.customer_id }}. Priority: {{ $('Customer Inquiry Webhook').item.json.priority }}"
            },
            {
              "name": "user_id",
              "value": "n8n-system"
            }
          ]
        },
        "options": {}
      },
      "id": "execute-agent-task",
      "name": "Execute Agent Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "response-quality-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-response-quality",
      "name": "Check Response Quality",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "http://crm-system:8080/api/tickets/{{ $('Customer Inquiry Webhook').item.json.ticket_id }}",
        "authentication": "none",
        "requestMethod": "PUT",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.CRM_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "resolved"
            },
            {
              "name": "response",
              "value": "={{ $json.result }}"
            },
            {
              "name": "resolved_by",
              "value": "ai-agent"
            },
            {
              "name": "resolved_at",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-crm-ticket",
      "name": "Update CRM Ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "url": "http://email-service:8080/api/send",
        "authentication": "none",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.EMAIL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Customer Inquiry Webhook').item.json.customer_email }}"
            },
            {
              "name": "subject",
              "value": "Re: {{ $('Customer Inquiry Webhook').item.json.subject }}"
            },
            {
              "name": "body",
              "value": "={{ $('Execute Agent Task').item.json.result }}"
            },
            {
              "name": "template",
              "value": "customer-response"
            }
          ]
        },
        "options": {}
      },
      "id": "send-customer-response",
      "name": "Send Customer Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "url": "http://slack-service:8080/api/notify",
        "authentication": "none",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "#customer-support"
            },
            {
              "name": "message",
              "value": "⚠️ AI Agent failed to generate quality response for ticket {{ $('Customer Inquiry Webhook').item.json.ticket_id }}. Manual intervention required."
            },
            {
              "name": "priority",
              "value": "high"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-human-support",
      "name": "Notify Human Support",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 500]
    },
    {
      "parameters": {
        "url": "http://analytics-service:8080/api/events",
        "authentication": "none",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event_type",
              "value": "customer_support_interaction"
            },
            {
              "name": "customer_id",
              "value": "={{ $('Customer Inquiry Webhook').item.json.customer_id }}"
            },
            {
              "name": "ticket_id",
              "value": "={{ $('Customer Inquiry Webhook').item.json.ticket_id }}"
            },
            {
              "name": "resolution_method",
              "value": "={{ $('Check Response Quality').item.json.success ? 'ai_agent' : 'human_escalation' }}"
            },
            {
              "name": "execution_time_ms",
              "value": "={{ $('Execute Agent Task').item.json.execution_time_ms }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-analytics",
      "name": "Log Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Customer Inquiry Webhook": {
      "main": [
        [
          {
            "node": "Create Support Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Support Agent": {
      "main": [
        [
          {
            "node": "Execute Agent Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Agent Task": {
      "main": [
        [
          {
            "node": "Check Response Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Response Quality": {
      "main": [
        [
          {
            "node": "Update CRM Ticket",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Customer Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Human Support",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update CRM Ticket": {
      "main": [
        [
          {
            "node": "Log Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Customer Response": {
      "main": [
        [
          {
            "node": "Log Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Human Support": {
      "main": [
        [
          {
            "node": "Log Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "customer-support",
      "name": "Customer Support"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "ai-agents",
      "name": "AI Agents"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}